<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hệ thống nhận diện côn trùng</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="page-bg">
    <main class="home-wrap">
      <section class="home-card fade-in">
        <div class="top-box">
          <div class="logo-frame">
            <img src="/static/ctu-logo-new.png" alt="Logo Đại học Cần Thơ" class="logo" />
          </div>

          <div class="title-box">
            <div class="school-badge">ĐẠI HỌC CẦN THƠ</div>
            <h1>HỆ THỐNG NHẬN DIỆN CÔN TRÙNG</h1>
          </div>
        </div>

        <section class="info-grid">
          <div class="info-card">
            <span>Loại đề tài</span>
            <strong>Luận văn tốt nghiệp</strong>
          </div>

          <div class="info-card">
            <span>Sinh viên 1</span>
            <strong>Nguyễn Văn Khôi</strong>
            <small>B2204564</small>
          </div>

          <div class="info-card">
            <span>Sinh viên 2</span>
            <strong>Nguyễn Phát Triển</strong>
            <small>B2204602</small>
          </div>
        </section>

        <div class="action-box">
          <button class="main-btn" onclick="goToConnectPage()">Kết nối</button>
        </div>
      </section>
    </main>
  </div>

  <script src="/static/app.js"></script>
</body>
</html>